<!DOCTYPE html>
<html>
<body>
<form class="" action="/" method="post">
<p>Puppy Name:<input type="text" name="name" id="name"></p>
<p>Age<input type="text" name="age" id="age"></p>
<p>Breed<input type="text" name="breed" id="text"></p>








<input type="submit" name="submit" id="submit">
</form>







</body>












</html>
