<!DOCTYPE html>
<html>
<body>
<form class="" action="/" method="post">
<p>Puppy Name:</p>
<%="\n#{@puppyname}"%>
<p>Puppy Age:</p>
<%="\n#{@puppyage}"%>
<p>Puppy Breed:</p>
<%="\n#{@puppybreed}"%>









</form>







</body>












</html>
